@model IEnumerable<Idea.Models.Category>

@{
    ViewData["Title"] = "Manage Categories";
}

<h1>Manage Categories</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i> Add New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i></a> |
                    <button asp-route-id="@item.Id" class="btn btn-danger delete-category-btn" data-category-id="@item.Id"><i class="fa-regular fa-trash-can"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(function () {
            const delCatBtn = $(".delete-category-btn");
            delCatBtn.on("click", function () {
                const catId = $(this).data("category-id");

                if (confirm("Are you sure delete this category? This action can't undo.")) {
                    $.ajax({
                        url: "/AdminCategory/Delete",
                        data: {
                            id: catId,
                        },
                        method: "POST",
                        success: function () {
                            window.location = "/AdminCategory";
                        }
                    });
                }
            });
        });
    </script>
}